.git
.github
.env
.env.*
node_modules
**/*.db
**/*.db-*
**/*.sqlite
**/*.sqlite3
**/*.log
**/*.exe
**/*.test
/gophish
**/*.crt
**/*.key
**/*.pem
**/*.tmp
**/*~
.idea
.vscode
coverage*
data
bin
releases
